body {
  font: 14px "Century Gothic", Futura, sans-serif;
  width: 50%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

h1 {
  margin-bottom: 3rem;
}

form {
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}

form input {
  display: block;
}

#title_input {
  flex: 3;
}

#submit_btn {
  flex: 0.5;
}

