body {
  font: 16px "Century Gothic", Futura, sans-serif;
  width: 50%;
  margin: 0 auto;
  padding: 0px;
}

h1 {
  margin-bottom: 3rem;
  text-align: center;
}

form {
  display: flex;
  height: 2rem;
  gap: 6rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}

form input {
  display: block;
}

#title_input {
  flex: 3;
  padding-left: 0.5rem;
}

#submit_btn {
  flex: 1;
    background-color: rgb(81, 212, 81);
    color: white;
    border-radius: 0.35rem;
    border: none;
    cursor: pointer;
}

#submit_btn:active {
  background-color: rgb(40, 163, 40);
}

#to_do_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list_item {
  display: flex;
  height: 2rem;
  align-items: stretch;
  gap: 6rem;
  justify-content: space-between;
}

.title {
  flex: 3;
  margin: auto 0;
}

.title em {
  margin-right: 1.5rem;
}

.remove-btn {
  flex: 1;
  background-color:  crimson;
  color: white;
  border-radius: 0.35rem;
  border: none;
  cursor: pointer;
}

.remove-btn:active {
  background-color: rgb(181, 42, 42);
}